{% extends 'movieCatalogApp/layout.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Welcome to Movie Catalog</h1>
        <form class="form-inline mb-4">
            <div class="form-group">
                <label for="genre">Genre:</label>
                <select class="form-control ml-2" id="genre" name="genre">
                    {% if genre %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% else %}
                        <option value="">All Genres</option>
                    {% endif %}
                    
                    {% for genre in genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ml-md-4">
                <label for="sort">Sort By:</label>
                <select class="form-control ml-2" id="sort" name="sort">
                    {% for value, label in sorting_options %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary ml-3">Apply Filters</button>
        </form>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
            <div class="col mb-4">
                <div class="card h-100 shadow">
                    <img src="{{ movie.cover_image }}" class="card-img-top" alt="cover_image">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">Genre: {{ movie.genre }}</p>
                        <p class="card-text">Rating: {{ movie.rating }}/10</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}