{% extends 'movieCatalogApp/layout.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <h1>Something</h1>

    <h1>Movie Catalog Web App</h1>

    <ol style="font-weight: bold;">
        <li>Fetch data from API and show in responsive UI.</li>
        <li>Allow users to filter and sort data based on different parameters. E.g. Genre, Rating etc.</li>
        <li>(Bonus): allow users to create accounts and bookmark, rate movies.</li>
        <li>(Bonus): Good UI & Creativity</li>
    </ol>
    
{% endblock %}