{% extends 'movieCatalogApp/layout.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="container mt-5" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{% static 'movieCatalogApp/profileIcon.jpg' %}" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
                    <h4 class="card-title">{{ request.user.username }}</h4>
                    <p class="card-text">{{ request.user.email }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <h2 class="mb-4">Welcome, {{ request.user.username }}!</h2>
            <h3 class="mb-3">Your Bookmarked Movies</h3>
            {% if user_bookmarks %}
            <ul class="list-group">
                <ul>
                    {% for bookmark in user_bookmarks %}
                        <li>{{ bookmark.movie.title }} - {{ bookmark.rating }}/5
                            {% if not bookmark.watched %}
                                <a href="{% url 'mark_as_watched' bookmark.id %}">Mark as Watched</a>
                            {% else %}
                                Already Watched
                            {% endif %}
                            <a href="{% url 'remove_bookmark' bookmark.id %}">Remove Bookmark</a>
                        </li>
                    {% endfor %}
                </ul>
            </ul>
            {% else %}
            <p>You haven't bookmarked any movies yet.</p>
            {% endif %}
        </div>

        <div class="col-md-8">
            <button class="btn btn-outline-dark">
                <a href="{% url 'logout' %}" style="text-decoration: none; font-weight: bold; color: black;">Logout</a>
            </button>
        </div>
        
    </div>
</div>
{% endblock %}